<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pc.olx">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        android:debuggable="true"
        <uses-permission android:name="android.permission.CALL_PHONE" />

        <activity android:name=".Offer.OfferActivity" />
        <activity
            android:name=".Shop.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".User.UserHomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            >
        </activity>
        <activity android:name=".User.LoginActivity" />
        <activity android:name=".User.RegisterActivity" />
        <activity android:name=".Shop.SettingsActivity" />
        <activity android:name=".Shop.ChangePasswordActivity" />
        <activity android:name=".Shop.ChangeEmailActivity" />
        <activity android:name=".User.ChangeAddressActivity" />
        <activity android:name=".Offer.AddOfferActivity" />
    </application>

</manifest>